pma-map {
  display: flex;
  width: 100%;
  height: 100%;
}

pma-map [ref=map_container] {
  display: block;
  flex-basis: 75%;
  height: 100%;
}

pma-map .room-list {
  border-right: 1px solid;
  bottom: 0;
  box-shadow: 0 0 10px;
  flex-basis: 25%;
  height: 100%;
  overflow: scroll;
  padding: 10px 20px;
  width: 200px;
}

pma-map .fa-home {
  bottom: 0;
  position: fixed;
  left: 0;
}